extends layout

block content
  script(src='/javascripts/auth.js')
  #editor
    #left
      select#songlist(onchange='changeSong()', size=2)
    #middle
      .input
        label#fortitle(for='title') Title
        #titlebox
          input#title(
            type='text', 
            oninput='changeTitle()',
            autocomplete='off'
          )
          #id
      label#forlyrics(for='lyrics') Lyrics
      textarea#lyrics(oninput='changeLyrics()')
      input#debug(type='text', readonly)
    #right
      #showtitle
      #showlyrics
      .input
        img#delete(src='/images/delete.svg', onclick='deleteSong()')
        input#new(type='button', value='New', onclick='newSong()')
        input#save(type='button', value='Save', onclick='saveSong()')
  #tooltip
  script(src='/javascripts/main.js')
