#search {
  padding-right: calc(60px - 1.5rem);
}

#search:placeholder-shown + #clear {
  visibility: hidden;
}

#clear {
  margin-left: -30px;
  background-image: url('/images/times-circle.svg');
  background-position: center;
  opacity: 0.2;
}

#clear:focus {
  outline: none;
  box-shadow: none;
}

#outTitle::before {
  content: '#';
  padding: 0 .2rem;
}

#outTitle:empty::before {
  opacity: 0;
}

#outId::before {
  content: 'id: ';
}

#outId:empty::before {
  opacity: 0;
}

#inpLyric, #outLyric {
  resize: none;
  white-space: pre;
  overflow: auto;
  text-overflow: ellipsis;
}

#outTitle {
  font-weight: 700;
}

#logs {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

button.close {
  background-image: url('/images/times.svg');
  background-position: center;
  background-size: 50%;
}

#history {
  height: 70vh;
  overflow: auto;
  white-space: nowrap;
}

#history, #history > div, #history > div > span {
  font-family: "Lucida Console", Monaco, monospace;
}

.navbar-toggler-icon {
  background-image: url('/images/bars.svg');
  opacity: 0.2;
}

@media only screen and (max-width: 575px) {
  #inpLyric, #outLyric {
    height: 15rem !important;
  }
}
